{
  "openapi": "3.0.0",
  "info": {
    "title": "Google Ads API",
    "version": "v17",
    "description": "API for interacting with Google Ads."
  },
  "servers": [
    {
      "url": "https://googleads.googleapis.com"
    }
  ],
  "paths": {
    "/v17:listPlannableLocations": {
      "post": {
        "operationId": "listPlannableLocations",
        "summary": "Returns the list of plannable locations (for example, countries).",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "plannableLocations[]": {
                      "type": "object (PlannableLocation)",
                      "description": "The list of locations available for planning. Seehttps://developers.google.com/google-ads/api/reference/data/geotargetsfor sample locations."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17:listPlannableProducts": {
      "post": {
        "operationId": "listPlannableProducts",
        "summary": "Returns the list of per-location plannable YouTube ad formats with allowed targeting.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "plannableLocationId": {
                    "type": "string",
                    "description": "Required. The ID of the selected location for planning. To list the available plannable location IDs useReachPlanService.ListPlannableLocations."
                  }
                },
                "required": [
                  "plannableLocationId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "productMetadata[]": {
                      "type": "object (ProductMetadata)",
                      "description": "The list of products available for planning and related targeting metadata."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/audienceInsights:listInsightsEligibleDates": {
      "post": {
        "operationId": "audienceInsights.listInsightsEligibleDates",
        "summary": "Lists date ranges for which audience insights data can be requested.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "dataMonths[]": {
                      "type": "string",
                      "description": "The months for which AudienceInsights data is currently available, each represented as a string in the form \"YYYY-MM\"."
                    },
                    "lastThirtyDays": {
                      "type": "object (DateRange)",
                      "description": "The actual dates covered by the \"last 30 days\" date range that will be used implicitly forAudienceInsightsService.GenerateAudienceCompositionInsightsrequests that have no dataMonth set."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:createCustomerClient": {
      "post": {
        "operationId": "customers.createCustomerClient",
        "summary": "Creates a new client under manager. The new client customer is returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the Manager under whom client customer is being created.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customerClient": {
                    "type": "object (Customer)",
                    "description": "Required. The new client customer to create. The resource name on this customer will be ignored."
                  },
                  "accessRole": {
                    "type": "enum (AccessRole)",
                    "description": "The proposed role of user on the created client customer. Accessible only to customers on the allow-list."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "emailAddress": {
                    "type": "string",
                    "description": "Email address of the user who should be invited on the created client customer. Accessible only to customers on the allow-list."
                  }
                },
                "required": [
                  "customerClient"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "resourceName": {
                      "type": "string",
                      "description": "The resource name of the newly created customer. Customer resource names have the form:customers/{customerId}."
                    },
                    "invitationLink": {
                      "type": "string",
                      "description": "Link for inviting user to access the created customer. Accessible to allowlisted customers only."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateAdGroupThemes": {
      "post": {
        "operationId": "customers.generateAdGroupThemes",
        "summary": "Returns a list of suggested AdGroups and suggested modifications (text, match type) for the given keywords.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords[]": {
                    "type": "string",
                    "description": "Required. A list of keywords to group into the provided AdGroups."
                  },
                  "adGroups[]": {
                    "type": "string",
                    "description": "Required. A list of resource names of AdGroups to group keywords into.  Resource name format:customers/{customerId}/adGroups/{adGroupId}"
                  }
                },
                "required": [
                  "keywords[]",
                  "adGroups[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "adGroupKeywordSuggestions[]": {
                      "type": "object (AdGroupKeywordSuggestion)",
                      "description": "A list of suggested AdGroup/keyword pairings."
                    },
                    "unusableAdGroups[]": {
                      "type": "object (UnusableAdGroup)",
                      "description": "A list of provided AdGroups that could not be used as suggestions."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateAudienceCompositionInsights": {
      "post": {
        "operationId": "customers.generateAudienceCompositionInsights",
        "summary": "Returns a collection of attributes that are represented in an audience of interest, with metrics that compare each attribute's share of the audience with its share of a baseline audience.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audience": {
                    "type": "object (InsightsAudience)",
                    "description": "Required. The audience of interest for which insights are being requested."
                  },
                  "baselineAudience": {
                    "type": "object (InsightsAudience)",
                    "description": "The baseline audience to which the audience of interest is being compared."
                  },
                  "dataMonth": {
                    "type": "string",
                    "description": "The one-month range of historical data to use for insights, in the format \"yyyy-mm\". If unset, insights will be returned for the last thirty days of data."
                  },
                  "dimensions[]": {
                    "type": "enum (AudienceInsightsDimension)",
                    "description": "Required. The audience dimensions for which composition insights should be returned."
                  },
                  "customerInsightsGroup": {
                    "type": "string",
                    "description": "The name of the customer being planned for. This is a user-defined value."
                  }
                },
                "required": [
                  "audience",
                  "dimensions[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "sections[]": {
                      "type": "object (AudienceCompositionSection)",
                      "description": "The contents of the insights report, organized into sections. Each section is associated with one of the AudienceInsightsDimension values in the request. There may be more than one section per dimension."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateAudienceOverlapInsights": {
      "post": {
        "operationId": "customers.generateAudienceOverlapInsights",
        "summary": "Returns a collection of audience attributes along with estimates of the overlap between their potential YouTube reach and that of a given input attribute.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryLocation": {
                    "type": "object (LocationInfo)",
                    "description": "Required. The country in which to calculate the sizes and overlaps of audiences."
                  },
                  "primaryAttribute": {
                    "type": "object (AudienceInsightsAttribute)",
                    "description": "Required. The audience attribute that should be intersected with all other eligible audiences. This must be an Affinity or In-Market UserInterest, an AgeRange or a Gender."
                  },
                  "dimensions[]": {
                    "type": "enum (AudienceInsightsDimension)",
                    "description": "Required. The types of attributes of which to calculate the overlap with the primaryAttribute. The values must be a subset of AFFINITY_USER_INTEREST, IN_MARKET_USER_INTEREST, AGE_RANGE and GENDER."
                  },
                  "customerInsightsGroup": {
                    "type": "string",
                    "description": "The name of the customer being planned for. This is a user-defined value."
                  }
                },
                "required": [
                  "countryLocation",
                  "primaryAttribute",
                  "dimensions[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "primaryAttributeMetadata": {
                      "type": "object (AudienceInsightsAttributeMetadata)",
                      "description": "Metadata for the primary attribute, including potential YouTube reach."
                    },
                    "dimensionResults[]": {
                      "type": "object (DimensionOverlapResult)",
                      "description": "Lists of attributes and their overlap with the primary attribute, one list per requested dimension."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateInsightsFinderReport": {
      "post": {
        "operationId": "customers.generateInsightsFinderReport",
        "summary": "Creates a saved report that can be viewed in the Insights Finder tool.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "baselineAudience": {
                    "type": "object (BasicInsightsAudience)",
                    "description": "Required. A baseline audience for this report, typically all people in a region."
                  },
                  "specificAudience": {
                    "type": "object (BasicInsightsAudience)",
                    "description": "Required. The specific audience of interest for this report. The insights in the report will be based on attributes more prevalent in this audience than in the report's baseline audience."
                  },
                  "customerInsightsGroup": {
                    "type": "string",
                    "description": "The name of the customer being planned for. This is a user-defined value."
                  }
                },
                "required": [
                  "baselineAudience",
                  "specificAudience"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "savedReportUrl": {
                      "type": "string",
                      "description": "An HTTPS URL providing a deep link into the Insights Finder UI with the report inputs filled in according to the request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateKeywordForecastMetrics": {
      "post": {
        "operationId": "customers.generateKeywordForecastMetrics",
        "summary": "Returns metrics (such as impressions, clicks, total cost) of a keyword forecast for the given campaign.",
        "parameters": [
          {
            "name": "customerId",
            "description": "The ID of the customer.",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "forecastPeriod": {
                    "type": "object (DateRange)",
                    "description": "The date range for the forecast. The start date must be in the future and end date must be within 1 year from today. The reference timezone used is the one of the Google Ads account belonging to the customer. If not set, a default date range from next Sunday to the following Saturday will be used."
                  },
                  "campaign": {
                    "type": "object (CampaignToForecast)",
                    "description": "Required. The campaign used in the forecast."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "The currency used for exchange rate conversion. By default, the account currency of the customer is used. Set this field only if the currency is different from the account currency. The list of valid currency codes can be found athttps://developers.google.com/google-ads/api/data/codes-formats#currency-codes."
                  }
                },
                "required": [
                  "campaign"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "campaignForecastMetrics": {
                      "type": "object (KeywordForecastMetrics)",
                      "description": "Results of the campaign forecast."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateKeywordHistoricalMetrics": {
      "post": {
        "operationId": "customers.generateKeywordHistoricalMetrics",
        "summary": "Returns a list of keyword historical metrics.",
        "parameters": [
          {
            "name": "customerId",
            "description": "The ID of the customer with the recommendation.",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "keywords[]": {
                    "type": "string",
                    "description": "A list of keywords to get historical metrics. Not all inputs will be returned as a result of near-exact deduplication. For example, if stats for \"car\" and \"cars\" are requested, only \"car\" will be returned. A maximum of 10,000 keywords can be used."
                  },
                  "includeAdultKeywords": {
                    "type": "boolean",
                    "description": "If true, adult keywords will be included in response. The default value is false."
                  },
                  "geoTargetConstants[]": {
                    "type": "string",
                    "description": "The resource names of the location to target. Maximum is 10. An empty list MAY be used to specify all targeting geos."
                  },
                  "keywordPlanNetwork": {
                    "type": "enum (KeywordPlanNetwork)",
                    "description": "Targeting network. If not set, Google Search And Partners Network will be used."
                  },
                  "aggregateMetrics": {
                    "type": "object (KeywordPlanAggregateMetrics)",
                    "description": "The aggregate fields to include in response."
                  },
                  "historicalMetricsOptions": {
                    "type": "object (HistoricalMetricsOptions)",
                    "description": "The options for historical metrics data."
                  },
                  "language": {
                    "type": "string",
                    "description": "The resource name of the language to target. Each keyword belongs to some set of languages; a keyword is included if language is one of its languages. If not set, all keywords will be included."
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "results[]": {
                      "type": "object (GenerateKeywordHistoricalMetricsResult)",
                      "description": "List of keywords and their historical metrics."
                    },
                    "aggregateMetricResults": {
                      "type": "object (KeywordPlanAggregateMetricResults)",
                      "description": "The aggregate metrics for all keywords."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateKeywordIdeas": {
      "post": {
        "operationId": "customers.generateKeywordIdeas",
        "summary": "Returns a list of keyword ideas.",
        "parameters": [
          {
            "name": "customerId",
            "description": "The ID of the customer with the recommendation.",
            "in": "path",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "geoTargetConstants[]": {
                    "type": "string",
                    "description": "The resource names of the location to target. Maximum is 10. An empty list MAY be used to specify all targeting geos."
                  },
                  "includeAdultKeywords": {
                    "type": "boolean",
                    "description": "If true, adult keywords will be included in response. The default value is false."
                  },
                  "pageToken": {
                    "type": "string",
                    "description": "Token of the page to retrieve. If not specified, the first page of results will be returned. To request next page of results use the value obtained fromnextPageTokenin the previous response. The request fields must match across pages."
                  },
                  "pageSize": {
                    "type": "integer",
                    "description": "Number of results to retrieve in a single page. A maximum of 10,000 results may be returned, if the pageSize exceeds this, it is ignored. If unspecified, at most 10,000 results will be returned. The server may decide to further limit the number of returned resources. If the response contains fewer than 10,000 results it may not be assumed as last page of results."
                  },
                  "keywordPlanNetwork": {
                    "type": "enum (KeywordPlanNetwork)",
                    "description": "Targeting network. If not set, Google Search And Partners Network will be used."
                  },
                  "keywordAnnotation[]": {
                    "type": "enum (KeywordPlanKeywordAnnotation)",
                    "description": "The keyword annotations to include in response."
                  },
                  "aggregateMetrics": {
                    "type": "object (KeywordPlanAggregateMetrics)",
                    "description": "The aggregate fields to include in response."
                  },
                  "historicalMetricsOptions": {
                    "type": "object (HistoricalMetricsOptions)",
                    "description": "The options for historical metrics data."
                  },
                  "language": {
                    "type": "string",
                    "description": "The resource name of the language to target. Each keyword belongs to some set of languages; a keyword is included if language is one of its languages. If not set, all keywords will be included."
                  },
                  "keywordAndUrlSeed": {
                    "type": "object (KeywordAndUrlSeed)",
                    "description": "A Keyword and a specific Url to generate ideas from for example, cars, www.example.com/cars."
                  },
                  "keywordSeed": {
                    "type": "object (KeywordSeed)",
                    "description": "A Keyword or phrase to generate ideas from, for example, cars."
                  },
                  "urlSeed": {
                    "type": "object (UrlSeed)",
                    "description": "A specific url to generate ideas from, for example, www.example.com/cars."
                  },
                  "siteSeed": {
                    "type": "object (SiteSeed)",
                    "description": "The site to generate ideas from, for example, www.example.com."
                  }
                },
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "results[]": {
                      "type": "object (GenerateKeywordIdeaResult)",
                      "description": "Results of generating keyword ideas."
                    },
                    "aggregateMetricResults": {
                      "type": "object (KeywordPlanAggregateMetricResults)",
                      "description": "The aggregate metrics for all keyword ideas."
                    },
                    "nextPageToken": {
                      "type": "string",
                      "description": "Pagination token used to retrieve the next page of results. Pass the content of this string as thepageTokenattribute of the next request.nextPageTokenis not returned for the last page."
                    },
                    "totalSize": {
                      "type": "string (int64format)",
                      "description": "Total number of results available."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateReachForecast": {
      "post": {
        "operationId": "customers.generateReachForecast",
        "summary": "Generates a reach forecast for a given targeting / product mix.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaignDuration": {
                    "type": "object (CampaignDuration)",
                    "description": "Required. Campaign duration."
                  },
                  "cookieFrequencyCapSetting": {
                    "type": "object (FrequencyCap)",
                    "description": "Chosen cookie frequency cap to be applied to each planned product. This is equivalent to the frequency cap exposed in Google Ads when creating a campaign, it represents the maximum number of times an ad can be shown to the same user during a specified time interval. If not specified, a default of 0 (no cap) is applied."
                  },
                  "targeting": {
                    "type": "object (Targeting)",
                    "description": "The targeting to be applied to all products selected in the product mix."
                  },
                  "plannedProducts[]": {
                    "type": "object (PlannedProduct)",
                    "description": "Required. The products to be forecast. The max number of allowed planned products is 15."
                  },
                  "forecastMetricOptions": {
                    "type": "object (ForecastMetricOptions)",
                    "description": "Controls the forecast metrics returned in the response."
                  },
                  "currencyCode": {
                    "type": "string",
                    "description": "The currency code. Three-character ISO 4217 currency code."
                  },
                  "cookieFrequencyCap": {
                    "type": "integer",
                    "description": "Chosen cookie frequency cap to be applied to each planned product. This is equivalent to the frequency cap exposed in Google Ads when creating a campaign, it represents the maximum number of times an ad can be shown to the same user. If not specified, no cap is applied."
                  },
                  "minEffectiveFrequency": {
                    "type": "integer",
                    "description": "Chosen minimum effective frequency (the number of times a person was exposed to the ad) for the reported reach metrics [1-10]. This won't affect the targeting, but just the reporting. If not specified, a default of 1 is applied."
                  },
                  "effectiveFrequencyLimit": {
                    "type": "object (EffectiveFrequencyLimit)",
                    "description": "The highest minimum effective frequency (the number of times a person was exposed to the ad) value [1-10] to include in Forecast.effective_frequency_breakdowns. If not specified, Forecast.effective_frequency_breakdowns will not be provided."
                  },
                  "customerReachGroup": {
                    "type": "string",
                    "description": "The name of the customer being planned for. This is a user-defined value."
                  }
                },
                "required": [
                  "campaignDuration",
                  "plannedProducts[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "onTargetAudienceMetrics": {
                      "type": "object (OnTargetAudienceMetrics)",
                      "description": "Reference on target audiences for this curve."
                    },
                    "reachCurve": {
                      "type": "object (ReachCurve)",
                      "description": "The generated reach curve for the planned product mix."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateShareablePreviews": {
      "post": {
        "operationId": "customers.generateShareablePreviews",
        "summary": "Returns the requested Shareable Preview.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The customer creating the shareable previews request.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "shareablePreviews[]": {
                    "type": "object (ShareablePreview)",
                    "description": "Required. The list of shareable previews to generate."
                  }
                },
                "required": [
                  "shareablePreviews[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "responses[]": {
                      "type": "object (ShareablePreviewOrError)",
                      "description": "List of generate shareable preview results."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:generateSuggestedTargetingInsights": {
      "post": {
        "operationId": "customers.generateSuggestedTargetingInsights",
        "summary": "Returns a collection of targeting insights (e.g. targetable audiences) that are relevant to the requested audience.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "audience": {
                    "type": "object (InsightsAudience)",
                    "description": "Required. The audience of interest for which insights are being requested."
                  },
                  "baselineAudience": {
                    "type": "object (InsightsAudience)",
                    "description": "Optional. The baseline audience. The default, if unspecified, is all people in the same country as the audience of interest."
                  },
                  "dataMonth": {
                    "type": "string",
                    "description": "Optional. The one-month range of historical data to use for insights, in the format \"yyyy-mm\". If unset, insights will be returned for the last thirty days of data."
                  },
                  "customerInsightsGroup": {
                    "type": "string",
                    "description": "Optional. The name of the customer being planned for. This is a user-defined value."
                  }
                },
                "required": [
                  "audience"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "suggestions[]": {
                      "type": "object (TargetingSuggestionMetrics)",
                      "description": "Suggested insights for targetable audiences."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/getIdentityVerification": {
      "get": {
        "operationId": "customers.getIdentityVerification",
        "summary": "Returns Identity Verification information.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer for whom we are requesting verification  information.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "identityVerification[]": {
                      "type": "object (IdentityVerification)",
                      "description": "List of identity verifications for the customer."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers:listAccessibleCustomers": {
      "get": {
        "operationId": "customers.listAccessibleCustomers",
        "summary": "Returns resource names of customers directly accessible by the user authenticating the call.",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {},
                "required": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "resourceNames[]": {
                      "type": "string",
                      "description": "Resource name of customers directly accessible by the user authenticating the call."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:mutate": {
      "post": {
        "operationId": "customers.mutate",
        "summary": "Updates a customer. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "object (CustomerOperation)",
                    "description": "Required. The operation to perform on the customer"
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "object (MutateCustomerResult)",
                      "description": "Result for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:searchAudienceInsightsAttributes": {
      "post": {
        "operationId": "customers.searchAudienceInsightsAttributes",
        "summary": "Searches for audience attributes that can be used to generate insights.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "dimensions[]": {
                    "type": "enum (AudienceInsightsDimension)",
                    "description": "Required. The types of attributes to be returned."
                  },
                  "queryText": {
                    "type": "string",
                    "description": "Required. A free text query. If the requested dimensions include Attributes CATEGORY or KNOWLEDGE_GRAPH, then the attributes returned for those dimensions will match or be related to this string. For other dimensions, this field is ignored and all available attributes are returned."
                  },
                  "customerInsightsGroup": {
                    "type": "string",
                    "description": "The name of the customer being planned for. This is a user-defined value."
                  },
                  "locationCountryFilters[]": {
                    "type": "object (LocationInfo)",
                    "description": "If SUB_COUNTRY_LOCATION attributes are one of the requested dimensions and this field is present, then the SUB_COUNTRY_LOCATION attributes returned will be located in these countries. If this field is absent, then location attributes are not filtered by country. Setting this field when SUB_COUNTRY_LOCATION attributes are not requested will return an error."
                  },
                  "youtubeReachLocation": {
                    "type": "object (LocationInfo)",
                    "description": "If present, potential YouTube reach estimates within the specified market will be returned for attributes for which they are available. Reach is only available for the AGE_RANGE, GENDER, AFFINITY_USER_INTEREST and IN_MARKET_USER_INTEREST dimensions, and may not be available for every attribute of those dimensions in every market."
                  }
                },
                "required": [
                  "dimensions[]",
                  "queryText"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "attributes[]": {
                      "type": "object (AudienceInsightsAttributeMetadata)",
                      "description": "The attributes matching the search query."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:startIdentityVerification": {
      "post": {
        "operationId": "customers.startIdentityVerification",
        "summary": "Starts Identity Verification for a given verification program type.  Statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The Id of the customer for whom we are creating this verification.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "verificationProgram": {
                    "type": "enum (IdentityVerificationProgram)",
                    "description": "Required. The verification program type for which we want to start the verification."
                  }
                },
                "required": [
                  "verificationProgram"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:suggestBrands": {
      "post": {
        "operationId": "customers.suggestBrands",
        "summary": "Rpc to return a list of matching brands based on a prefix for this customer.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer onto which to apply the brand suggestion operation.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "selectedBrands[]": {
                    "type": "string",
                    "description": "Optional. Ids of the brands already selected by advertisers. They will be excluded in response. These are expected to be brand ids not brand names."
                  },
                  "brandPrefix": {
                    "type": "string",
                    "description": "Required. The prefix of a brand name."
                  }
                },
                "required": [
                  "brandPrefix"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "brands[]": {
                      "type": "object (BrandSuggestion)",
                      "description": "Generated brand suggestions of verified brands for the given prefix."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:suggestKeywordThemes": {
      "post": {
        "operationId": "customers.suggestKeywordThemes",
        "summary": "Suggests keyword themes to advertise on.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "suggestionInfo": {
                    "type": "object (SmartCampaignSuggestionInfo)",
                    "description": "Required. Information to get keyword theme suggestions. Required fields:"
                  }
                },
                "required": [
                  "suggestionInfo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "keywordThemes[]": {
                      "type": "object (KeywordTheme)",
                      "description": "Smart campaign keyword theme suggestions."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:suggestSmartCampaignAd": {
      "post": {
        "operationId": "customers.suggestSmartCampaignAd",
        "summary": "Suggests a Smart campaign ad compatible with the Ad family of resources, based on data points such as targeting and the business to advertise.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "suggestionInfo": {
                    "type": "object (SmartCampaignSuggestionInfo)",
                    "description": "Required. Inputs used to suggest a Smart campaign ad. Required fields: finalUrl, languageCode, keywordThemes. Optional but recommended fields to improve the quality of the suggestion: business_setting and geo_target."
                  }
                },
                "required": [
                  "suggestionInfo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "adInfo": {
                      "type": "object (SmartCampaignAdInfo)",
                      "description": "Optional. Ad info includes 3 creative headlines and 2 creative descriptions."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:suggestSmartCampaignBudgetOptions": {
      "post": {
        "operationId": "customers.suggestSmartCampaignBudgetOptions",
        "summary": "Returns BudgetOption suggestions.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose budget options are to be suggested.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "campaign": {
                    "type": "string",
                    "description": "Required. The resource name of the campaign to get suggestion for."
                  },
                  "suggestionInfo": {
                    "type": "object (SmartCampaignSuggestionInfo)",
                    "description": "Required. Information needed to get budget options"
                  }
                },
                "required": [
                  "campaign",
                  "suggestionInfo"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "low": {
                      "type": "object (BudgetOption)",
                      "description": "Optional. The lowest budget option."
                    },
                    "recommended": {
                      "type": "object (BudgetOption)",
                      "description": "Optional. The recommended budget option."
                    },
                    "high": {
                      "type": "object (BudgetOption)",
                      "description": "Optional. The highest budget option."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:suggestTravelAssets": {
      "post": {
        "operationId": "customers.suggestTravelAssets",
        "summary": "Returns Travel Asset suggestions. Asset suggestions are returned on a best-effort basis. There are no guarantees that all possible asset types will be returned for any given hotel property.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "languageOption": {
                    "type": "string",
                    "description": "Required. The language specifications in BCP 47 format (for example, en-US, zh-CN, etc.) for the asset suggestions. Text will be in this language. Usually matches one of the campaign target languages."
                  },
                  "placeIds[]": {
                    "type": "string",
                    "description": "The Google Maps Place IDs of hotels for which assets are requested. Seehttps://developers.google.com/places/web-service/place-idfor more information."
                  }
                },
                "required": [
                  "languageOption"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "hotelAssetSuggestions[]": {
                      "type": "object (HotelAssetSuggestion)",
                      "description": "Asset suggestions for each place ID submitted in the request."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:uploadCallConversions": {
      "post": {
        "operationId": "customers.uploadCallConversions",
        "summary": "Processes the given call conversions.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer performing the upload.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversions[]": {
                    "type": "object (CallConversion)",
                    "description": "Required. The conversions that are being uploaded."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "Required. If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. This should always be set to true. Seehttps://developers.google.com/google-ads/api/docs/best-practices/partial-failuresfor more information about partial failure."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  }
                },
                "required": [
                  "conversions[]",
                  "partialFailure"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to conversion failures in the partial failure mode. Returned when all errors occur inside the conversions. If any errors occur outside the conversions (for example, auth errors), we return an RPC level error. Seehttps://developers.google.com/google-ads/api/docs/best-practices/partial-failuresfor more information about partial failure."
                    },
                    "results[]": {
                      "type": "object (CallConversionResult)",
                      "description": "Returned for successfully processed conversions. Proto will be empty for rows that received an error. Results are not returned when validateOnly is true."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:uploadClickConversions": {
      "post": {
        "operationId": "customers.uploadClickConversions",
        "summary": "Processes the given click conversions.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer performing the upload.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversions[]": {
                    "type": "object (ClickConversion)",
                    "description": "Required. The conversions that are being uploaded."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "Required. If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. This should always be set to true. Seehttps://developers.google.com/google-ads/api/docs/best-practices/partial-failuresfor more information about partial failure."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "debugEnabled": {
                    "type": "boolean",
                    "description": "If true, the API will perform all upload checks and return errors if any are found. If false, it will perform only basic input validation, skip subsequent upload checks, and return success even if no click was found for the provideduserIdentifiers."
                  },
                  "jobId": {
                    "type": "integer",
                    "description": "Optional. Optional input to set job ID. Must be a non-negative number that is less than 2^31 if provided. If this field is not provided, the API will generate a job ID in the range [2^31, (2^63)-1]. The API will return the value for this request in thejobIdfield of theUploadClickConversionsResponse."
                  }
                },
                "required": [
                  "conversions[]",
                  "partialFailure"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to conversion failures in the partial failure mode. Returned when all errors occur inside the conversions. If any errors occur outside the conversions (for example, auth errors), we return an RPC level error. Seehttps://developers.google.com/google-ads/api/docs/best-practices/partial-failuresfor more information about partial failure."
                    },
                    "results[]": {
                      "type": "object (ClickConversionResult)",
                      "description": "Returned for successfully processed conversions. Proto will be empty for rows that received an error. Results are not returned when validateOnly is true."
                    },
                    "jobId": {
                      "type": "string (int64format)",
                      "description": "Job ID for the upload batch."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:uploadConversionAdjustments": {
      "post": {
        "operationId": "customers.uploadConversionAdjustments",
        "summary": "Processes the given conversion adjustments.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer performing the upload.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "conversionAdjustments[]": {
                    "type": "object (ConversionAdjustment)",
                    "description": "Required. The conversion adjustments that are being uploaded."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "Required. If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. This should always be set to true. Seehttps://developers.google.com/google-ads/api/docs/best-practices/partial-failuresfor more information about partial failure."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "jobId": {
                    "type": "integer",
                    "description": "Optional. Optional input to set job ID. Must be a non-negative number that is less than 2^31 if provided. If this field is not provided, the API will generate a job ID in the range [2^31, (2^63)-1]. The API will return the value for this request in thejobIdfield of theUploadConversionAdjustmentsResponse."
                  }
                },
                "required": [
                  "conversionAdjustments[]",
                  "partialFailure"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to conversion adjustment failures in the partial failure mode. Returned when all errors occur inside the adjustments. If any errors occur outside the adjustments (for example, auth errors), we return an RPC level error. Seehttps://developers.google.com/google-ads/api/docs/best-practices/partial-failuresfor more information about partial failure."
                    },
                    "results[]": {
                      "type": "object (ConversionAdjustmentResult)",
                      "description": "Returned for successfully processed conversion adjustments. Proto will be empty for rows that received an error. Results are not returned when validateOnly is true."
                    },
                    "jobId": {
                      "type": "string (int64format)",
                      "description": "Job ID for the upload batch."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}:uploadUserData": {
      "post": {
        "operationId": "customers.uploadUserData",
        "summary": "Uploads the given user data.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer for which to update the user data.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (UserDataOperation)",
                    "description": "Required. The list of operations to be done."
                  },
                  "customerMatchUserListMetadata": {
                    "type": "object (CustomerMatchUserListMetadata)",
                    "description": "Metadata for data updates to a Customer Match user list."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uploadDateTime": {
                      "type": "string",
                      "description": "The date time at which the request was received by API, formatted as \"yyyy-mm-dd hh:mm:ss+|-hh:mm\", for example, \"2019-01-01 12:32:45-08:00\"."
                    },
                    "receivedOperationsCount": {
                      "type": "integer",
                      "description": "Number of upload data operations received by API."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/AdGroupCriterionCustomizers:mutate": {
      "post": {
        "operationId": "customers.AdGroupCriterionCustomizers.mutate",
        "summary": "Creates, updates or removes ad group criterion customizers. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose ad group criterion customizers are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupCriterionCustomizerOperation)",
                    "description": "Required. The list of operations to perform on individual ad group criterion customizers."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "results[]": {
                      "type": "object (MutateAdGroupCriterionCustomizerResult)",
                      "description": "All results for the mutate."
                    },
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/CustomerCustomizers:mutate": {
      "post": {
        "operationId": "customers.CustomerCustomizers.mutate",
        "summary": "Creates, updates or removes customer customizers. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose customer customizers are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (CustomerCustomizerOperation)",
                    "description": "Required. The list of operations to perform on individual customer customizers."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "results[]": {
                      "type": "object (MutateCustomerCustomizerResult)",
                      "description": "All results for the mutate."
                    },
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/accountBudgetProposals:mutate": {
      "post": {
        "operationId": "customers.accountBudgetProposals.mutate",
        "summary": "Creates, updates, or removes account budget proposals. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "object (AccountBudgetProposalOperation)",
                    "description": "Required. The operation to perform on an individual account-level budget proposal."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  }
                },
                "required": [
                  "operation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "object (MutateAccountBudgetProposalResult)",
                      "description": "The result of the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/accountLinks:create": {
      "post": {
        "operationId": "customers.accountLinks.create",
        "summary": "Creates an account link.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer for which the account link is created.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountLink": {
                    "type": "object (AccountLink)",
                    "description": "Required. The account link to be created."
                  }
                },
                "required": [
                  "accountLink"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "resourceName": {
                      "type": "string",
                      "description": "Returned for successful operations. Resource name of the account link."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/accountLinks:mutate": {
      "post": {
        "operationId": "customers.accountLinks.mutate",
        "summary": "Creates or removes an account link. From V5, create is not supported through AccountLinkService.MutateAccountLink. Use AccountLinkService.CreateAccountLink instead.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operation": {
                    "type": "object (AccountLinkOperation)",
                    "description": "Required. The operation to perform on the link."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  }
                },
                "required": [
                  "operation"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "type": "object (MutateAccountLinkResult)",
                      "description": "Result for the mutate."
                    },
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupAdLabels:mutate": {
      "post": {
        "operationId": "customers.adGroupAdLabels.mutate",
        "summary": "Creates and removes ad group ad labels. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. ID of the customer whose ad group ad labels are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupAdLabelOperation)",
                    "description": "Required. The list of operations to perform on ad group ad labels."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    },
                    "results[]": {
                      "type": "object (MutateAdGroupAdLabelResult)",
                      "description": "All results for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupAds:mutate": {
      "post": {
        "operationId": "customers.adGroupAds.mutate",
        "summary": "Creates, updates, or removes ads. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose ads are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupAdOperation)",
                    "description": "Required. The list of operations to perform on individual ads."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    },
                    "results[]": {
                      "type": "object (MutateAdGroupAdResult)",
                      "description": "All results for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/{adGroupAd=customers/*/adGroupAds/*}:removeAutomaticallyCreatedAssets": {
      "post": {
        "operationId": "customers.adGroupAds.removeAutomaticallyCreatedAssets",
        "summary": "Remove automatically created assets from an ad.",
        "parameters": [
          {
            "name": "adGroupAd",
            "description": "Required. The resource name of the AdGroupAd from which to remove automatically created assets.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assetsWithFieldType[]": {
                    "type": "object (AssetsWithFieldType)",
                    "description": "Required. List of assets with field type to be removed from the AdGroupAd."
                  }
                },
                "required": [
                  "assetsWithFieldType[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupAssetSets:mutate": {
      "post": {
        "operationId": "customers.adGroupAssetSets.mutate",
        "summary": "Creates, or removes ad group asset sets. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose ad group asset sets are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupAssetSetOperation)",
                    "description": "Required. The list of operations to perform on individual ad group asset sets."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "results[]": {
                      "type": "object (MutateAdGroupAssetSetResult)",
                      "description": "All results for the mutate."
                    },
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (e.g. auth errors), we return an RPC level error."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupAssets:mutate": {
      "post": {
        "operationId": "customers.adGroupAssets.mutate",
        "summary": "Creates, updates, or removes ad group assets. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose ad group assets are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupAssetOperation)",
                    "description": "Required. The list of operations to perform on individual ad group assets."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    },
                    "results[]": {
                      "type": "object (MutateAdGroupAssetResult)",
                      "description": "All results for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupBidModifiers:mutate": {
      "post": {
        "operationId": "customers.adGroupBidModifiers.mutate",
        "summary": "Creates, updates, or removes ad group bid modifiers. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. ID of the customer whose ad group bid modifiers are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupBidModifierOperation)",
                    "description": "Required. The list of operations to perform on individual ad group bid modifiers."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    },
                    "results[]": {
                      "type": "object (MutateAdGroupBidModifierResult)",
                      "description": "All results for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupCriteria:mutate": {
      "post": {
        "operationId": "customers.adGroupCriteria.mutate",
        "summary": "Creates, updates, or removes criteria. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. ID of the customer whose criteria are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupCriterionOperation)",
                    "description": "Required. The list of operations to perform on individual criteria."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  },
                  "responseContentType": {
                    "type": "enum (ResponseContentType)",
                    "description": "The response content type setting. Determines whether the mutable resource or just the resource name should be returned post mutation."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    },
                    "results[]": {
                      "type": "object (MutateAdGroupCriterionResult)",
                      "description": "All results for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupCriterionLabels:mutate": {
      "post": {
        "operationId": "customers.adGroupCriterionLabels.mutate",
        "summary": "Creates and removes ad group criterion labels. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. ID of the customer whose ad group criterion labels are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations[]": {
                    "type": "object (AdGroupCriterionLabelOperation)",
                    "description": "Required. The list of operations to perform on ad group criterion labels."
                  },
                  "partialFailure": {
                    "type": "boolean",
                    "description": "If true, successful operations will be carried out and invalid operations will return errors. If false, all operations will be carried out in one transaction if and only if they are all valid. Default is false."
                  },
                  "validateOnly": {
                    "type": "boolean",
                    "description": "If true, the request is validated but not executed. Only errors are returned, not results."
                  }
                },
                "required": [
                  "operations[]"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "partialFailureError": {
                      "type": "object (Status)",
                      "description": "Errors that pertain to operation failures in the partial failure mode. Returned only when partialFailure = true and all errors occur inside the operations. If any errors occur outside the operations (for example, auth errors), we return an RPC level error."
                    },
                    "results[]": {
                      "type": "object (MutateAdGroupCriterionLabelResult)",
                      "description": "All results for the mutate."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v17/customers/{customerId}/adGroupCustomizers:mutate": {
      "post": {
        "operationId": "customers.adGroupCustomizers.mutate",
        "summary": "Creates, updates or removes ad group customizers. Operation statuses are returned.",
        "parameters": [
          {
            "name": "customerId",
            "description": "Required. The ID of the customer whose ad group customizers are being modified.",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
[...]
